################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BarcodeScanner/bin/Debug
/BarcodeScanner/obj
/BarcodeScanner.sln
